---
http_interactions:
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:Denver/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: Sorry, but the page you were trying to view does not exist.
  recorded_at: Mon, 24 Apr 2023 15:04:57 GMT
- request:
    method: get
    uri: https://api.teleport.org/urban_areas/slug:Denver/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"http_status_code":404,"message":"Not Found"}'
  recorded_at: Mon, 24 Apr 2023 15:05:30 GMT
- request:
    method: get
    uri: https://api.teleport.org/urban_areas/slug:denver/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"http_status_code":404,"message":"Not Found"}'
  recorded_at: Mon, 24 Apr 2023 15:05:51 GMT
- request:
    method: get
    uri: https://api.teleport.org/urban_areas/slug:aarhus/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"http_status_code":404,"message":"Not Found"}'
  recorded_at: Mon, 24 Apr 2023 15:06:28 GMT
- request:
    method: get
    uri: https://api.teleport.org/api/urban_areas/slug:aarhus/salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Apiproxy-Cache-Status:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"curies":[{"href":"https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/","name":"location","templated":true},{"href":"https://developers.teleport.org/api/resources/City/#!/relations/{rel}/","name":"city","templated":true},{"href":"https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/","name":"ua","templated":true},{"href":"https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/","name":"country","templated":true},{"href":"https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/","name":"a1","templated":true},{"href":"https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/","name":"tz","templated":true}],"self":{"href":"https://api.teleport.org/api/urban_areas/slug:aarhus/salaries/"}},"salaries":[{"job":{"id":"ACCOUNT-MANAGER","title":"Account
        Manager"},"salary_percentiles":{"percentile_25":43424.33443206031,"percentile_50":54368.0046490173,"percentile_75":68069.6657340874}},{"job":{"id":"ACCOUNTANT","title":"Accountant"},"salary_percentiles":{"percentile_25":62103.94983835721,"percentile_50":73755.51669111331,"percentile_75":87593.07993343232}},{"job":{"id":"ADMINISTRATIVE-ASSISTANT","title":"Administrative
        Assistant"},"salary_percentiles":{"percentile_25":52115.246043412124,"percentile_50":62762.854362431135,"percentile_75":75585.86376889399}},{"job":{"id":"ARCHITECT","title":"Architect"},"salary_percentiles":{"percentile_25":78825.53954[...]
