---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=api_key&q=39.742043,-104.991531
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2023 04:12:28
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f0f042911faa57be5d72139c5127ef02
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1682223148,"localtime":"2023-04-22
        22:12"},"current":{"last_updated":"2023-04-22 22:00","temp_f":32.4,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png"},"humidity":77,"feelslike_f":28.0,"vis_miles":9.0,"uv":1.0},"forecast":{"forecastday":[{"date":"2023-04-22","day":{"maxtemp_f":42.4,"mintemp_f":28.8,"totalsnow_cm":6.12,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png"}},"astro":{"sunrise":"06:12
        AM","sunset":"07:45 PM","is_moon_up":1,"is_sun_up":1},"hour":[{"time":"2023-04-22
        00:00","temp_f":32.9,"condition":{"text":"Heavy snow","icon":"//cdn.weatherapi.com/weather/64x64/night/338.png"}},{"time":"2023-04-22
        01:00","temp_f":32.2,"condition":{"text":"Heavy snow","icon":"//cdn.weatherapi.com/weather/64x64/night/338.png"}},{"time":"2023-04-22
        02:00","temp_f":31.8,"condition":{"text":"Heavy snow","icon":"//cdn.weatherapi.com/weather/64x64/night/338.png"}},{"time":"2023-04-22
        03:00","temp_f":30.4,"condition":{"text":"Heavy snow",[...]
[...]
